.card {
  width: 323px;
  display: flex;
  position: relative;
  justify-content: center;
}

.card__header {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.card__name {
  display: flex;
  position: relative;
  top: 15px;
  background-color: #ffffff;
  font-size: 20px;
  height: 24px;
  text-align: center;
  color: #00000099;
  border-radius: 4px;
  padding: 2px 12px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-left: 80px;
}

.card__image {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 16px;
}

.card__like-button {
  /* display: flex;
  justify-content: center; */
  /* position: absolute; */
  margin-bottom: -35px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: -100px;
  margin-right: 55px;
}
